.sidebar {
  background-color: #444;
  color: white;
  width: 200px; /* Adjust width as needed */
  transition: width 0.3s;
  overflow-y: auto;
  height: 100vh; /* Ensure full height */
}

.sidebar-collapsed {
  width: 64px;
}

.sidebar-button {
  padding: 8px;
  cursor: pointer;
  background: none;
  border: none;
  color: white;
}

.sidebar-menu {
  list-style: none;
  padding: 0;
}

.sidebar-menu-item {
  padding: 16px;
  cursor: pointer;
}

.sidebar-hamburger {
  width: 32px;
  height: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 16px 0 16px 16px;
  z-index: 200;
}

.sidebar-hamburger span {
  display: block;
  width: 24px;
  height: 3px;
  margin: 3px 0;
  background: #fff;
  border-radius: 2px;
  transition: 0.3s;
}

.sidebar-hamburger.open span:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.sidebar-hamburger.open span:nth-child(2) {
  opacity: 0;
}

.sidebar-hamburger.open span:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}